@model Pizza

<div class="col">
    <div class="card pizza-card position-relative">
        <img class="card-img-top" src="@Url.Content(Model.ImageThumbnailUrl)" alt="@Model.Name" style="height: 300px">
        <div class="card-body">
            <h4 class="card-title">
                @Model.Name
            </h4>
            <p class="card-text">
                @Model.ShortDescription
            </p>
            <a asp-controller="Pizza"
               asp-action="Details"
               asp-route-id="@Model.ID" class="btn btn-primary position-absolute bottom-0 end-0" style="margin:15px; margin-bottom:20px">Detalji</a>
            <div class="card-footer">
                @Model.Price RSD
            </div>
        </div>
    </div>
</div>
