@model Pizza

<div class="col">
    <div class="card pizza-card">
        <img src="@Url.Content(Model.ImageThumbnailUrl)" class="card-img-top" alt="@Model.Name" style="height:200px">
        <div class="card-body pizza-button">
            <h4 class="d-grid">
            </h4>
            <div class="d-flex justify-content-between mt-2">
                <h2 class="text-start">
                    @Model.Name
                </h2>
                <a asp-controller="Pizza"
                   asp-action="Details"
                   asp-route-id="@Model.ID"
                   class="btn btn-primary">Detalji</a>
                <h5 class="text-nowrap">
                    @Model.Price.ToString("c")
                </h5>
            </div>
        </div>
    </div>
</div>